 <!-- Modal   -->
 <div class="modal fade" id="MDClientes" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title"><i class="fa fa-fw fa-edit"></i> Pesquisa de Cliente/Fornecedor</h4>
          </div>
          <div class="modal-body">
              
          </div>
          <div class="modal-footer">                 
             <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"
                id="BTNCANCELAR">Sair</button>
          </div>
       </div>
    </div>
 </div>
 <!--FIM  Modal   -->