<html>

<head>
</head>

<body>
    <div class="clearfix" style="display:none">{%BTNAPROVARGER%}{%lb_id%} </div>

    <section class="content-header">
        <h1>
            Controle de F&I
            <small>Listagem e Manutenção.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Controle de F&I</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw  fa-building-o"></i>
                    <h3 class="box-title"><b>Controle de F&I</b></h3>
                    <br />
                    <div class="box-tools pull-right">
                        Data Criação:{%ck_data_ini%}{%data_ini%} à {%ck_data_fim%}{%data_fim%}&nbsp; Status
                        Fila:{%combo_ficha_status%}
                    </div>
                </div>
                <div class="box-body">
                    <div class="box-tools pull-right">

                    </div>
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">
                                Empresa:{%combo_empresas%}&nbsp;&nbsp;
                                Vendedor:{%combo_vendedor%}&nbsp;&nbsp;Origem:{%combo_origens%}&nbsp;&nbsp;Status
                                Ficha:{%combo_status_finan%}<br><br>Operador:{%combo_operador%}&nbsp;&nbsp;Tipo:{%combo_tipo%}<hr>
                                <br />

                                <div class="table-responsive">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <br />
                                                <table id="ControleF" class="table table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                             
                                                            <th>Id</th>
                                                            <th>Ação</th>
                                                            <th>Cliente </th>
                                                            <th>Dt. Inclusão</th>
                                                            <th>Dt. Apr. Ger.</th>
                                                            <th>Dt. Apr. Aces.</th>
                                                            <th>Dt. Apr. F&I.</th>
                                                            <th>Status F&I</th>
                                                            <th>Status Prop.</th>
                                                            <th>Banco</th>
                                                            <th>Operador</th>
                                                            <th>Vendedor</th>
                                                            <th>Origem</th>
                                                            <th>Proposta</th>
                                                            <th>CE</th>
                                                           

                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="MHistorico" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-fw fa-history"></i> Histórico de Financiamento</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="box box-default">
                            <div class="row">
                                <div class="col-md-12">
                                    <br />

                                    <div class="table-responsive">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <br />
                                                    <table id="Historico" class="table table-hover" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                
                                                                <th>Data</th>
                                                                <th>Banco </th>
                                                                <th>Status</th>
                                                                <th>Analista c.</th>
                                                                <th>Motivo Recusa</th>
                                                                <th>Valor do Veículo</th>
                                                                <th>Entrada</th>
                                                                <th>Financiamento</th>
                                                                <th>Prazo</th>
                                                                <th>Parcela</th>
                                                                <th>Tabela</th>
                                                                <th>Coeficiente</th>
                                                                <th>Ação</th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   


                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <div class="modal-footer">
                    {%btn_salvar%}
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        id="BTNCANCELAR">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Motivos Recusa -->



 <!-- Modal Vincular proposta -->
 <div class="modal fade" id="MProposta" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-fw fa-file-powerpoint-o"></i> Cruzamento com Proposta NBS</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    Ficha: {%EDIT_ID%} &nbsp;&nbsp;&nbsp; Empresa: {%EDIT_PROPOSTA%}
                    <br />
                    <div class="box box-default">
                        <div class="row">
                             
                            <div class="col-md-12">
                                <br />
                                 
                                <div class="table-responsive">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <br />
                                                <table id="TBPROPOSTA" class="table table-hover" style="width:100%">
                                                    <thead>
                                                        <tr> 
                                                            <th>Emp.</th>                                                           
                                                            <th>Proposta</th>
                                                            <th>Veículo </th>
                                                            <th>Cliente</th>
                                                            <th>Valor</th>                                                            
                                                            <th>Ação</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            


                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="modal-footer">
                {%btn_salvar%}
                <button type="button" class="btn btn-default" data-dismiss="modal"
                    id="BTNCANCELAR">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Fim  Modal Proposta -->



    <script>

$(document).ready(function () {
            $('#TBPROPOSTA').DataTable(
                {
                    responsive: true,
                    "pageLength": 10,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=TBPROPOSTA"
                });

        });




        $(document).ready(function () {
            $('#ControleF').DataTable(
                {
                    responsive: true,
                    "pageLength": 10,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=ControleF"
                });

        });

        $(document).ready(function () {
            $('#Historico').DataTable(
                {
                    responsive: true,
                    "pageLength": 10,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=Historico"
                });

        });


    </script>







</body>

</html>