<!DOCTYPE html>
<html>

<head>

</head>

<body>
   <div class="clearfix" style="display:none"> {%BTN_IMPRIMIR_SIM%}{%BTN_IMPRIMIR_NAO%}{%EDIT_BC_IPI_ITEM%}</div>
   <!-- Formulário de Entrada em Nfs -->
   <section class="content-header">
      <h1>
         Entrada de Notas Fiscais & Fornecedores
         <small>Inclusão</small>
      </h1>
   </section>
   <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link active" href="#">Entrada de Notas Fiscais</a>
      </li>
   </ul>
   <section class="content container-fluid">
      <div class="col-md-12">
         <div class="box box-primary">
            <div class="box-header with-border">
               <i class="fa fa-fw  fa-truck"></i>
               <h3 class="box-title">Entrada de Notas Fiscais - Inclusão </h3>
               <div class="box-tools pull-right">
                   
                  <button type="button" id="INTERFACEXML" class="btn btn-info btn-flat input-sm" title="Carregar XML"><i
                        class="fa   fa-file-code-o"> </i> Interface XML/Transf.</button>
               </div>
            </div>
            <div class="box-body">
               <div class="box box-default">
                  <div class="row">
                     <div class="col-md-12">
                        <br />
                        <!-- Conteúdo -->
                        <ul class="nav nav-tabs">
                           <li class="active"><a data-toggle="tab" href="#home">Capa da NF</a></li>
                           <li><a data-toggle="tab" href="#menu1">Itens da NF</a></li>
                           <li><a data-toggle="tab" href="#menu2">Fechamento</a></li>
                           <!--     <li><a data-toggle="tab" href="#menu3">Locação</a></li>  -->
                        </ul>
                        <div class="tab-content">
                           <!--Aba Capa-->
                           <div id="home" class="tab-pane fade in active">
                              <div class="panel panel-info">
                                 <div class="panel-heading">Dados da Nota</div>
                                 <div class="panel-body   ">
                                    <!--Dados da NF-->
                                    <form>
                                       <div class="form-row">
                                          <div class="form-group col-md-2">
                                             <label for="label1">Número</label>
                                             {%edit_numero%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label2">Série</label>
                                             {%edit_serie%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label3">Emissão</label>
                                             {%edit_emissao%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label4">CNPJ/CPF</label>
                                             {%edit_fornecedor%}
                                          </div>
                                          <div class="form-group col-md-3">
                                             <label for="label4">Nome Fornecedor</label>
                                             <div class="input-group ">
                                                {%edit_nome_fornecedor%}

                                                <span class="input-group-btn">
                                                   <button type="button" id="BTN_FORNECEDOR"
                                                      class="btn btn-info btn-flat input-sm"
                                                      title="Pesquisar Fornecedor"><i class="fa   fa-search">
                                                      </i></button>

                                                </span>
                                             </div>

                                          </div>
                                          <div class="form-group col-md-1">
                                             <label for="label4">UF</label>
                                             {%edit_uf_fornecedor%}
                                          </div>

                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-12">
                                             <label for="label6">Chave NF-e</label>
                                             {%edit_chave_nfe%}
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="panel panel-info">
                                 <div class="panel-heading">Calculo do Imposto</div>
                                 <div class="panel-body">
                                    <!--Calculo do Imposto-->
                                    <form>

                                       <div class="form-row">
                                          <div class="form-group col-md-2">
                                             <label for="label7">Base ICMS</label>
                                             {%edit_bc_icms%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label8">Valor ICMS</label>
                                             {%edit_valor_icms%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label9">Base ICMS ST</label>
                                             {%edit_bc_st%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label10">Valor ICMS ST</label>
                                             {%edit_valor_icms_st%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label11">Total Produtos</label>
                                             {%edit_total_produtos%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label22">Percentual Desc</label>
                                             {%edit_perc_desc%}
                                          </div>
                                       </div>
                                       <!--Segunda linha dos impostos-->
                                       <div class="form-row">
                                          <div class="form-group col-md-2">
                                             <label for="label13">Valor do Frete</label>
                                             {%edit_valor_frete%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label14">Valor do Seguro</label>
                                             {%edit_valor_seguro%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label15">Outras Des. Aces.</label>
                                             {%edit_outras%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label16">Desconto</label>
                                             {%edit_desconto%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label17">Valor do IPI</label>
                                             {%btn_valor_ipi%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label22">Total da NF</label>
                                             {%edit_total_nf%}
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="panel panel-info">
                                 <div class="panel-heading">Conhecimento de Transporte</div>
                                 <div class="panel-body">
                                    <!--Conhecimento de Transporte-->
                                    <div class="form-row">
                                       <div class="form-group col-md-2">
                                          <label for="label19">Número</label>
                                          {%edit_conhecimento%}
                                       </div>
                                       <div class="form-group col-md-2">
                                          <label for="label20">Série</label>
                                          {%edit_serie_conhecimento%}
                                       </div>
                                       <div class="form-group col-md-2">
                                          <label for="label21">Valor Total</label>
                                          {%edit_total_conhecimento%}
                                       </div>
                                    </div>
                                    <form>
                                    </form>
                                 </div>
                              </div>
                              <!--Fim da Aba Capa-->
                           </div>
                           <div id="menu1" class="tab-pane fade">
                              <!--Aba Itens-->
                              <div class="panel panel-info">
                                 <div class="panel-heading">Item 
                                    <button type="button" class="btn btn-success" data-dismiss="modal"
                                       id="BTN_LANCAR_ITEM" onclick="InserirItem();"><i class="fa  fa-arrow-down"> </i>
                                       Lançar</button>
                                 </div>
                                 <div class="panel-body">
                                    <!--Dados da NF-->
                                    <form>
                                       <div class="form-row">
                                          <div class="form-group col-md-3">
                                             <label for="label1">Código</label>

                                             <div class="input-group">
                                                {%edit_cod_produto%}

                                                <span class="input-group-btn">
                                                   <button type="button" id="BTN_PESQUISARP"
                                                      class="btn btn-info btn-flat input-sm"
                                                      title="Pesquisar Produto"><i class="fa   fa-search"> </i></button>
                                                   <button type="button" id="BTN_CADASTRAR_ITEM"
                                                      class="btn btn-info btn-flat input-sm"
                                                      title="Cadastrar Produto"><i class="fa  fa-plus"> </i></button>
                                                </span>
                                             </div>


                                          </div>
                                          <div class="form-group col-md-3">
                                             <label for="label1">Descrição Produto</label>
                                             {%edit_descricao_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label2">Fornecedor</label>
                                             {%edit_fornecedor_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label3">Qtde</label>
                                             {%edit_qtde_itens%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label4">Pço. Un.</label>
                                             {%edit_preco_unitario_item%}
                                          </div>


                                       </div>
                                       <div class="form-row">

                                          <div class="form-group col-md-2">
                                             <label for="label4">%desc</label>
                                             {%edit_perc_desc_item%}
                                          </div>

                                          <div class="form-group col-md-2">
                                             <label for="label4">V. Desc.</label>
                                             {%edit_valor_desc_item%}
                                          </div>

                                          <div class="form-group col-md-2">
                                             <label for="label5">%IPI</label>
                                             {%btn_perc_ipi_item%}
                                          </div>
                                          <div class="form-group col-md-3">
                                             <label for="label5">Valor IPI</label>
                                             {%edit_valor_ipi_item%}
                                          </div>
                                          <div class="form-group col-md-3">
                                             <label for="label5">Preço Líquido</label>
                                             {%edit_preco_liquido_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-3">
                                             <label for="label2">NCM</label>
                                             {%edit_ncm_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label3">Local Estoque</label>
                                             {%combo_local_estoque%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="labe88">Sugestão Locação</label>
                                             {%combo_sugestao_loc%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="labe89">Locação</label>
                                             <div class="input-group ">
                                                <input type="text" style="text-align:right" disabled="true"
                                                   class="form-control input-sm" id="EDIT_LOCACAO_ITEM" step="any"
                                                   title="EDIT_LOCACAO_ITEM">
                                                <span class="input-group-btn">
                                                   <button type="button" id="BTN_PESQUISAR_L"
                                                      class="btn btn-info btn-flat input-sm" onclick="PesquisarL();"><i
                                                         class="fa   fa-search"> </i></button>
                                                </span>
                                             </div>
                                          </div>
                                          <div class="form-group col-md-3">
                                             <label for="label3">CFOP</label>
                                             {%combo_cfop_item%}
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="panel panel-info">
                                 <div class="panel-heading">Tributação</div>
                                 <div class="panel-body">
                                    <form>
                                       <div class="form-row">
                                          <div class="form-group col-md-12">
                                             <label for="label1">CST</label>
                                             {%combo_cst_itens%}
                                          </div>

                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-2">
                                             <label for="label1">Base ICMS</label>
                                             {%edit_base_icms_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label1">Aliq. ICMS</label>
                                             {%edit_aliq_icms_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label1">Valor ICMS</label>
                                             {%edit_valor_icms_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label1">Base ICMS ST</label>
                                             {%edit_base_icms_st_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label1">Aliq. ICMS ST</label>
                                             {%edit_Aliq_icms_st_item%}
                                          </div>
                                          <div class="form-group col-md-2">
                                             <label for="label1">Valor ICMS ST</label>
                                             {%edit_valor_icms_st_item%}
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                               
                              <div class="panel panel-info">
                                 <div class="panel-heading">Itens Lançados</div>
                                 <div class="panel-body">
                                    <div class="table-responsive">
                                       <div class="container-fluid">
                                          <div class="row">
                                             <div class="col-xs-12">
                                                <br />
                                                <table id="TBComprasItens"
                                                   class="table table-hover table-striped table-bordered table-condensed"
                                                   style="width:100%">
                                                   <thead>
                                                      <tr class="success">
                                                         <th>Ação</th>
                                                         <th>Seq.</th>
                                                         <th>Cod Item</th>
                                                         <th>Descrição </th>
                                                         <th>Preço Unitário</th>
                                                         <th>Qtde</th>
                                                         <th>Valor Desc.</th>
                                                         <th>% Desc.</th>
                                                         <th>Valor Total</th>
                                                         <th class="info">UN</th>
                                                         <th>NCM</th>
                                                         <th>CFOP</th>
                                                         <th>Base ICMS</th>
                                                         <th>Aliq. ICMS</th>
                                                         <th>Valor ICMS</th>
                                                         <th>BC. ICMS ST</th>
                                                         <th>Aliq. ICMS ST</th>
                                                         <th>Valor ICMS ST</th>
                                                         <th>Cod. Fornecedor</th>
                                                         <th>Fornecedor</th>
                                                         <th>Base IPI</th>
                                                         <th>Aliq. IPI</th>
                                                         <th>Valor IPI</th>
                                                         <th>Locação</th>
                                                         <th>Local Estoque</th>
                                                          
                                                      </tr>
                                                   </thead>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="menu2" class="tab-pane fade">
                              <!--Aba Fechamento-->
                              <div class="panel panel-info">
                                 <div class="panel-heading">Capa x Itens</div>
                                 <div class="panel-body">


                                    <form>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Total Produtos (CAPA)</label>
                                             {%tot_produtos_capa%}
                                          </div>

                                          <div class="form-group col-md-6">
                                             <label for="label1">Total Produtos (ITENS)</label>
                                             {%tot_produtos_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor IPI (CAPA)</label>
                                             {%tot_ipi_capa%}
                                          </div>
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor IPI (ITENS)</label>
                                             {%tot_ipi_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Base ICMS (CAPA)</label>
                                             {%tot_bc_icms_capa%}
                                          </div>
                                          <div class="form-group col-md-6">
                                             <label for="label1">Base ICMS (ITENS)</label>
                                             {%tot_bc_icms_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor ICMS (CAPA)</label>
                                             {%tot_valor_icms_capa%}
                                          </div>
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor ICMS (ITENS)</label>
                                             {%tot_valor_icms_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Base ICMS ST (CAPA)</label>
                                             {%tot_bc_icms_st_capa%}
                                          </div>
                                          <div class="form-group col-md-6">
                                             <label for="label1">Base ICMS ST (ITENS)</label>
                                             {%tot_bc_icms_st_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor ICMS ST (CAPA)</label>
                                             {%tot_valor_icms_st_capa%}
                                          </div>
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor ICMS ST (ITENS)</label>
                                             {%tot_valor_icms_st_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor Total (CAPA)</label>
                                             {%tot_capa%}
                                          </div>
                                          <div class="form-group col-md-6">
                                             <label for="label1">Valor Total (ITENS)</label>
                                             {%tot_item%}
                                          </div>
                                       </div>
                                       <div class="form-row">
                                          <div class="form-group col-md-12">
                                             <button type="button" class="btn btn-success" id="BTN_RECALCULO"
                                                onclick="Recalculo();"><i class="fa   fa-refresh"> </i>
                                                Recalcular</button>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div id="menu3" class="tab-pane fade">
                              <!--Aba Locação-->
                              d
                           </div>
                        </div>
                        <!-- Conteúdo -->
                        <div class="modal-footer">
                           <button type="button" class="btn btn-primary" id="BTN_GRAVAR_DADOS"
                              onclick="GravarCompra();"><i class="fa fa-save"></i> Gravar Nota</button>
                           <button type="button" class="btn btn-danger" id="BTN_CANCELAR_ENTRADA"><i
                                 class="fa fa-close"></i> Cancelar</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Sessão de telas modais-->
   <!-- Modal busca produtos -->
   <div class="modal fade" id="MDPesquisaP2" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title"><i class="fa fa-fw fa-users"></i> Pesquisa de Produtos</h4>
            </div>
            <div class="modal-body">
               <div class="table-responsive">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-xs-12">
                           <br />
                           <table id="TBPesquisaP"
                              class="table table-hover table-striped table-bordered table-condensed" style="width:100%">
                              <thead>
                                 <tr class="success">
                                    <th>Código Item</th>
                                    <th>Fornecedor </th>
                                    <th>Descrição</th>
                                    <th>Preço Venda</th>
                                    <th>NCM</th>
                                    <th>Ação</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"><i
                     class="fa fa-sign-out"></i> Sair</button>
            </div>
         </div>
      </div>
   </div>
   <!--FIM  Modal Busca Produtos -->
   <!---->
   <!-- Modal Cliente -->
   <div class="modal fade" id="MDClientes" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title"><i class="fa fa-fw fa-users"></i> Pesquisa de Cliente/Fornecedor</h4>
            </div>
            <div class="modal-body">
               <div class="table-responsive">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-xs-12">
                           <br />
                           <table id="TBClientes" class="table table-hover table-striped table-bordered table-condensed"
                              style="width:100%">
                              <thead>
                                 <tr class="success">
                                    <th>Ação</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Nome </th>
                                    <th>Endereço</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>UF</th>

                                 </tr>
                              </thead>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"><i
                     class="fa fa-sign-out"></i> Sair</button>
            </div>
         </div>
      </div>
   </div>
   <!--FIM  Modal Cliente -->
   <!-- Modal Interface ItensL -->
   <div class="modal fade" id="MDItensXml" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title"><i class="fa fa-fw fa-file-code-o"></i> Itens do XML </h4>
            </div>
            <div class="modal-body">

               <div class="box box-primary">

                  <div class="row">
                     <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                           <ul class="nav nav-tabs">
                              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Naturezas</a>
                              </li>
                              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Locações</a>
                              </li>


                           </ul>
                           <div class="tab-content">
                              <div class="tab-pane active" id="tab_1">


                                 <div class="row">
                                    <div class="col-xs-3">
                                       Tributado: {%combo_cfop_trib%}
                                    </div>
                                    <div class="col-xs-3">
                                       Isentas: {%combo_cfop_isentas%}

                                    </div>
                                    <div class="col-xs-3">
                                       Substituição: {%combo_cfop_st%}
                                    </div>
                                    <div class="col-xs-3">
                                       <button type="button" id="BTN_APLICAR_CFOP"
                                          class="btn btn-block btn-success btn-xs"><i
                                             class="fa fa-fw fa-check-square-o"></i> Aplicar</button>
                                    </div>
                                 </div>


                              </div>
                              <!-- /.tab-pane -->
                              <div class="tab-pane" id="tab_2">

                                 <div class="row">
                                    <div class="col-md-6">
                                       Local Estoque: {%combo_local_estoque2%}

                                    </div>
                                    <div class="col-md-6">
                                       <button type="button" id="BTN_APLICAR_LOCACAO"
                                          class="btn btn-block btn-success btn-xs"><i
                                             class="fa fa-fw fa-check-square-o"></i> Sugestão</button>
                                    </div>


                                 </div>

                              </div>

                           </div>

                        </div>

                     </div>


                  </div>

                  <div class="table-responsive">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-xs-12">
                              <br />
                              <table id="TBItensXml"
                                 class="table table-hover table-striped table-bordered table-condensed"
                                 style="width:100%">
                                 <thead>
                                    <tr class="success">
                                       <th>Id</th>
                                       <th>Status</th>
                                       <th>Cod. Produto</th>
                                       <th>Descrição.</th>
                                       <th>NCM</th>
                                       <th>Locação</th>
                                       <th>CFOP</th>
                                       <th>UN</th>
                                       <th>Qtde.</th>
                                       <th>Valor UN.</th>
                                       <th>CST</th>
                                       <th>BC_ICMS</th>
                                       <th>Aliq. ICMS</th>
                                       <th>Valor ICMS</th>
                                       <th>BC_IPI</th>
                                       <th>Aliq. IPI</th>
                                       <th>Valor IPI</th>
                                       <th>BC_ICMS_ST</th>
                                       <th>Aliq_ST</th>
                                       <th>Valor ICMS ST</th>
                                    </tr>
                                 </thead>
                              </table>
                           </div>
                        </div>

                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-8">
                        <span class="badge bg-yellow"><b>Legenda:</b></span> = <span class="badge bg-green"><i
                              class="fa fa-thumbs-o-up"> Cadastro OK </i> </span> , <span class="badge bg-red"><i
                              class="fa fa-thumbs-o-down"> Item não cadastrado</i> </span>

                     </div>
                     <div class="col-xs-2">{%CK_ITENS_OK%}</div>
                     <div class="col-xs-2">{%EDIT_COD_CONTROLE_ITEM%}</div>
                  </div>
               </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="SetaAcao('XMLIT');" data-dismiss="modal"><i
                     class="fa fa-sign-out"></i> Sair</button>
            </div>
         </div>
      </div>
   </div>
   <!--Fim modal interface itens-->


   <!-- Modal Interface XML -->
   <div class="modal fade" id="MDxml" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title"><i class="fa fa-fw fa-file-code-o"></i> Interface XML</h4>
            </div>
            <div class="modal-body">
               <div class="box box-primary">
                  <div class="box-header with-border">
                     <i class="fa fa-fw  fa-upload"></i>
                     <h3 class="box-title">Interface com XML NFE/Transferência</h3>
                     <div class="box-tools pull-right">
                        {%IWFILE%}
                     </div>
                  </div>
                  <div class="box-body">
                     <div class="box box-default">
                        <div class="row">

                           <div class="col-xs-6">
                              <b>Operação:</b> {%combo_tipo_entrada%}
                           </div>
                           <div class="col-xs-6">
                              <b>XML Status:</b> {%combo_xml_status%}
                           </div>
                        </div>

                        <div class="table-responsive">
                           <div class="container-fluid">
                              <div class="row">
                                 <div class="col-xs-12">
                                    <br />
                                    <table id="TBxml"
                                       class="table table-hover table-striped table-bordered table-condensed"
                                       style="width:100%">
                                       <thead>
                                          <tr class="success">
                                             <th>Ação</th>
                                             <th>Id</th>
                                             <th>Status</th>
                                             <th>Lanc.</th>
                                             <th>Nf.</th>
                                             <th>Serie</th>
                                             <th>Emissão</th>
                                             <th>Fornecedor</th>
                                             <th>CNPJ</th>
                                             <th>BC_ICMS</th>
                                             <th>Valor_ICMS</th>
                                             <th>BC_ICMS_ST</th>
                                             <th>VALOR_ICMS_ST</th>
                                             <th>TOTAL_PRODUTOS</th>
                                             <th>Frete</th>
                                             <th>Seguro</th>
                                             <th>Desconto</th>
                                             <th>IPI</th>
                                             <th>Outros</th>
                                             <th>Total</th>

                                          </tr>
                                       </thead>
                                    </table>
                                 </div>
                              </div>

                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12">
                              <span class="badge bg-yellow"><b>Legenda:</b></span> <b>1</b> = Verificar Cadastro de
                              produtos, <b>2</b>= Verificar CFOP dos Itens, <b>3</b> = Verificar Cad. Fornecedor

                           </div>

                        </div>
                        <div class="row">
                           <div class="col-xs-12">
                              <span class="badge bg-yellow"><b>Ícones:</b></span> <span class="badge bg-green"><i
                                    class="fa fa-thumbs-o-up"> - Itens OK </i></span>,<span class="badge bg-red"><i
                                    class="fa fa-thumbs-o-up"> Itens com problema</i></span>

                           </div>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"><i
                     class="fa fa-sign-out"></i> Sair</button>
            </div>
         </div>
      </div>
   </div>
   <!--FIM  Modal Interface XML -->


   <!-- Modal Cadastro de produtos -->
   <div class="modal fade" id="MDCadastroP" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title"><i class="fa fa-fw  fa-calculator"></i> Cadastro de Produtos {%EDIT_OP_CAD%}
               </h4>
            </div>
            <div class="modal-body">



               <div class="row">
                  <div class="col-xs-4">
                     <label for="label1">Código do Item</label>
                     {%edit_md_cod_item%}
                  </div>
                  <div class="col-xs-4">
                     <label for="label1">Descrição</label>
                     {%edit_md_descricao%}
                  </div>
                  <div class="col-xs-4">
                     <label for="label1">Fornecedor</label>
                     {%combo_md_fornecedor%}
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-4">
                     <label for="label1">Marca</label>
                     {%combo_md_marca_item%}
                  </div>
                  <div class="col-xs-4">
                     <label for="label1">Grupo</label>
                     {%combo_md_grupo%}
                  </div>
                  <div class="col-xs-4">
                     <label for="label1">Preço venda</label>
                     {%edit_md_preco_venda%}
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-4">
                     <label for="label1">Tributação</label>
                     {%combo_tributacao_item%}
                  </div>
                  <div class="col-xs-4">
                     <label for="label1">Tipo Item</label>
                     {%combo_tipo_item%}
                  </div>
                  <div class="col-xs-4">
                     <label for="label1">Orígem</label>
                     {%combo_origem_item%}
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-3">
                     <label for="label1">Qtde</label>
                     {%edit_md_comp_item%}
                  </div>
                  <div class="col-xs-3">
                     <label for="label1">Unidade de Medida</label>
                     {%combo_md_un_item%}
                  </div>
                  <div class="col-xs-3">
                     <label for="label1">NCM</label>
                     {%edit_md_ncm_item%}
                  </div>
                  <div class="col-xs-3">
                     <label for="label1">Código de Barras</label>
                     {%edit_cod_barras%}
                  </div>
               </div>




            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="CadItem();" data-dismiss="modal"
                  id="BTN_CAD_ITEM"><i class="fa fa-save"></i> Salvar</button>
               <button type="button" class="btn btn-default" onclick="SetaAcao('XMLI2');" data-dismiss="modal"><i
                     class="fa fa-sign-out"></i> Sair</button>
            </div>
         </div>
      </div>
   </div>
   <!-- Fim Modal cadastro de produtos-->

   <!-- Modal Pesquisar Locação -->
   <div class="modal fade" id="MDLocacao" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title"><i class="fa fa-fw fa-cart-plus"></i> Pesquisa de Locações</h4>
            </div>
            <div class="modal-body">
               <div class="table-responsive">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-xs-12">
                           <br />
                           <form>
                              <div class="form-row">
                                 <div class="form-group col-md-12">
                                    <label for="label1">Local Estoque</label>
                                    {%combo_pesquisar_l%}
                                 </div>
                           </form>
                           <table id="TBLocacao" class="table table-hover table-striped table-bordered table-condensed"
                              style="width:100%">
                              <thead>
                                 <tr class="success">
                                    <th>Cod Empresa</th>
                                    <th>Cod Local Estoque </th>
                                    <th>Locação </th>
                                    <th>Ação</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"><i
                     class="fa fa-sign-out"></i> Sair</button>
            </div>
         </div>
      </div>
   </div>
   <!--FIM  Modal Locação -->
   <!--Sessão de scripts-->
   <script>
      $(document).ready(function () {
         $('#TBLocacao').DataTable(
            {
               responsive: true,
               "pageLength": 10,
               "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
               },
               "paging": true,
               "ordering": true,
               "searching": true,
               serverSide: true,
               processing: true,
               ajax: "/$/callback?callback=TBLocacao"
            });

      });


   </script>
   <script>
      $(document).ready(function () {
         $('#TBClientes').DataTable(
            {
               responsive: true,
               "pageLength": 10,
               "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
               },
               "paging": true,
               "ordering": true,
               "searching": true,
               serverSide: true,
               processing: true,
               ajax: "/$/callback?callback=TBClientes"
            });

      });


   </script>
   <script>
      $(document).ready(function () {
         $('#TBComprasItens').DataTable(
            {
               responsive: true,
               "pageLength": 10,
               "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
               },
               "paging": true,
               "ordering": true,
               "searching": true,
               serverSide: true,
               processing: true,
               ajax: "/$/callback?callback=TBComprasItens"
            });

      });


   </script>
   <script>
      $(document).ready(function () {
         $('#TBPesquisaP').DataTable(
            {
               responsive: true,
               "pageLength": 10,
               "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
               },
               "paging": true,
               "ordering": true,
               "searching": true,
               serverSide: true,
               processing: true,
               ajax: "/$/callback?callback=TBPesquisaP"
            });

      });


   </script>
   <script>
      $(document).ready(function () {
         $('#TBxml').DataTable(
            {
               responsive: true,
               "pageLength": 10,
               "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
               },
               "paging": true,
               "ordering": true,
               "searching": true,
               serverSide: true,
               processing: true,
               ajax: "/$/callback?callback=TBxml"
            });

      });


   </script>
   </script>
   <script>
      $(document).ready(function () {
         $('#TBItensXml').DataTable(
            {
               responsive: true,
               "pageLength": 5,
               "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
               },
               "paging": true,
               "ordering": true,
               "searching": true,
               serverSide: true,
               processing: true,
               ajax: "/$/callback?callback=TBItensXml"
            });

      });


   </script>
   <script>
      function InserirItem() {

         BTN_LANCAR_ITEM.click;
      }
   </script>
   <script>
      function CadastrarItem() {

         BTN_CADASTRAR_ITEM.click;
      }

   </script>
   <script>
      function CadItem() {
         BTN_CAD_ITEM.click;

      }


   </script>
   <script>
      function PesquisarP() {

         BTN_PESQUISARP.click;

      }

   </script>
   <script>
      function PesquisarL() {

         BTN_PESQUISAR_L.click;
      }

   </script>
   <script>
      function Recalculo() {

         BTN_RECALCULO.click;
      }

   </script>
   <script>
      function GravarCompra() {

         BTN_GRAVAR_DADOS.click;
      }

   </script>
   <script>
      function Imprimir() {

         BTN_IMPRIMIR.click;
      }


   </script>

   <script>
      function REFRESHPAGE() {

         BTN_REFRESH.click;
      }


   </script>
</body>












</html>