<html>
<head>
</head>
<body>
    <div class="clearfix" style="display:none">{%BTN_DELETAR%}{%BTN_INC%}{%BTN_EXC_ANEXO%}</div>

    <section class="content-header">
        <h1>
            OK  
            <small>Listagem e Manutenção.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Padrão</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-users"></i>
                    <h3 class="box-title">Padrão</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                             
                            <button type="buttom" class="btn btn-primary" onclick="SetaAcao('Inclu');">
                                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Incluir</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                            
                                <div class="table-responsive">
                                    <div class="container-fluid">
                                       <div class="row">
                                          <div class="col-xs-12">
                                            <br />  
                                             <table id="MotivosRecusa" class="table table-hover" style="width:100%">
                                                <thead>
                                                   <tr>
                                                      <th>Id</th>
                                                      <th>Descrição </th>
                                                      <th>Ativo</th> 
                                                       <th>Ação</th> 
                                                   </tr>
                                                </thead>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Modal -->
    <div class="modal fade" id="ShowMotivosR" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-fw fa-users"></i> Motivos Recusa/Manutenção</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                
                                <form class=form-inline> id:{%edit_id%}&nbsp;&nbsp;&nbsp;&nbsp;Descrição:{%edit_descricao%}&nbsp;&nbsp;&nbsp;&nbsp;{%ck_status%}  </form>
                                       
                                
                            </div>
                        </div>
                        </div>
                    </div>
                    
                   
                   
                    
                </div>
                
                <div class="modal-footer">
                    {%btn_salvar%}
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="BTNCANCELAR">Cancelar</button>	
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Motivos Recusa -->
   
 <script>
     
     function ExcAnexo(id_imagem){
           
           document.getElementById('IWACAO').value =  id_imagem;
           AddChangedControl('IWACAO'); 
           BTN_EXC_ANEXO.click;
           
           
       }
     
     function AltMotivos(p_id,p_acao){
        
                 document.getElementById('IWACAO').value =  p_id;
                 AddChangedControl('IWACAO');   // colocar essa linha sempre que usar o onAsyncClick pois colocar o campo como alterado
                 BTN_ALTERAR.click();
        }
     
      $(document).ready(function() {
           $('#MotivosRecusa').DataTable(
               {
                   responsive: true,
                   "pageLength": 10,
                   "language": {
                       "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                   },
                   "paging":   true,
                   "ordering": true,
                   "searching": true,
                   serverSide: true,
                   processing: true,
                   ajax: "/$/callback?callback=MotivosRecusa"
               });          
          
        } );
    
    
</script>
    
   

<script>

function Excluir(p_id,p_valor){
    
                 
                document.getElementById('IWACAO').value =  p_id;
                AddChangedControl('IWACAO');   // colocar essa linha sempre que usar o onAsyncClick pois colocar o campo como alterado
                BTN_DELETAR.click();
    
}

</script>
     


</body>
</html>

