<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Geral</a></li>
    <li><a data-toggle="tab" href="#menu1">Dados Fisicos</a></li>
    <li><a data-toggle="tab" href="#menu2">Dados Juridicos</a></li>
    <li><a data-toggle="tab" href="#menu3">Fones</a></li>
 </ul>
 <div class="tab-content">
 <!--Aba Geral-->   
 <div id="home" class="tab-pane fade in active">
    <!--Fim da Aba Geral-->
 </div>
 <div id="menu1" class="tab-pane fade">
    <!--Aba dados Fisicos-->
 </div>
 <div id="menu2" class="tab-pane fade">
    <!--Aba dados Juridicos-->
 </div>
 <div id="menu3" class="tab-pane fade">
    <!--Aba dados telefone-->
 </div>
 </div>