<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
     
      <!-- Formulário de clientes -->
      <section class="content container-fluid">
         <div class="col-md-12">
            <div class="box box-primary">
               <div class="box-header with-border">
                  <i class="fa fa-fw  fa-database"></i>
                  <h3 class="box-title">Clientes/Fornecedores -   Manutenção</h3>
                  <div class="box-tools pull-right">
                     <div class="btn-group">
                     </div>
                  </div>
               </div>
               <div class="box-body">
                  <div class="box box-default">
                     <div class="row">
                        <div class="col-md-12">
                           <!-- Formulário de clientes -->
                           <ul class="nav nav-tabs">
                              <li class="nav-item">
                                 <a class="nav-link active" href="#">{%lb_acao%}</a>
                              </li>
                             
                           </ul>
                           <br />
                           
                            <ul class="nav nav-tabs">
                               <li class="active"><a data-toggle="tab" href="#home">Geral</a></li>
                               <li><a data-toggle="tab" href="#menu1">Dados Fisicos</a></li>
                               <li><a data-toggle="tab" href="#menu2">Dados Juridicos</a></li>
                               <li><a data-toggle="tab" href="#menu3">Fones</a></li>
                            </ul>
                            <div class="tab-content">
                             <!--Aba Geral-->   
                               <div id="home" class="tab-pane fade in active">                                   
                                  <form>
                                    <div class="form-row">
                                       <div class="form-group col-md-2">
                                          <label >Tipo</label>
                                          {%COMBO_TIPO%}  
                                       </div>
                                       <div class="form-group col-md-2">
                                          <label  >Classe</label>
                                          {%COMBO_CLASSE%}
                                       </div>
                                       <div class="form-group col-md-2">
                                          <label  >CPF</label>
                                          {%edit_cod_cliente_pf%} 
                                       </div>
                                       <div class="form-group col-md-2">
                                          <label  >CNPJ</label>
                                          {%EDIT_COD_CLIENTE_PJ%}
                                       </div>
                                       <div class="form-group col-md-4">
                                          <label  >Nome/Razão Social</label>                               
                                          {%EDIT_NOME%}
                                       </div>
                                    </div>
                                   
                                    <div class="form-row">
                                       <div class="form-group col-md-7">
                                          <label for="inputAddress">Endereço</label>
                                          {%edit_endereco%}
                                       </div>
                                       <div class="form-group col-md-3">
                                          <label for="inputAddress">Complemento</label>
                                          {%edit_complemento%}
                                       </div>
                                       <div class="form-group col-md-2">
                                          <label for="inputAddress2">Número</label>
                                          {%edit_numero%}
                                       </div>
                                    </div>
                                    <div class="form-row">
                                       <div class="form-group col-md-4">
                                          <label for="inputAddress2">Bairro</label>
                                          {%edit_bairro%}
                                       </div>
                                       <div class="form-group col-md-1">
                                          <label for="inputCity">UF</label>
                                          {%combo_uf%}
                                       </div>
                                       <div class="form-group col-md-3">
                                          <label for="inputEstado">Cidade</label>
                                          {%combo_cidades%}
                                       </div>
                                       <div class="form-group col-md-4">
                                          <label for="inputCEP">CEP</label>
                                          {%edit_cep%}
                                       </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                           <label for="inputAddress2">E-mail</label>
                                            {%edit_email%}
                                        </div>
                                        
                                     </div>
                                   
                                 </form>
                              <!--Fim da Aba Geral-->
                               </div>
                               <div id="menu1" class="tab-pane fade">
                                  <!--Aba dados Fisicos-->
                                  <form>
                                    
                                    <div class="form-row">
                                       <div class="form-group col-md-3">
                                          <label >Data Nascimento</label>
                                          {%edit_data_nasc%}  
                                       </div>
                                       <div class="form-group col-md-3">
                                          <label >Sexo</label>
                                          {%combo_sexo%}  
                                       </div>
                                       <div class="form-group col-md-3">
                                        <label >RG</label>
                                        {%edit_rg%}  
                                     </div>
                                     <div class="form-group col-md-3">
                                        <label >Estado Civil</label>
                                        {%combo_estado_cv%}  
                                     </div>
                                    </div>
                                   
                                    
                                   
                                 </form>
             
                               </div>
                               <div id="menu2" class="tab-pane fade">
                                   <!--Aba dados Juridicos-->
                                <form>
                                    
                                    <div class="form-row">
                                       <div class="form-group col-md-3">
                                          <label >Inscrição Estadual</label>
                                          {%edit_insc_est%}  
                                       </div>
                                       <div class="form-group col-md-3">
                                          <label >Inscrição Municipal</label>
                                          {%edit_insc_mun%}  
                                       </div>
                                        
                                      
                                    </div>                                 
                                    
                                   
                                 </form>
                               </div>
                               <div id="menu3" class="tab-pane fade">
                                <!--Aba dados telefone-->
                             <form>
                                 
                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                       <label for="inputCity">DDD Fixo</label>
                                       {%edit_ddd1%}
                                    </div>
                                    <div class="form-group col-md-3">
                                       <label for="inputCity">Fone Fixo</label>
                                       {%edit_fone1%}
                                    </div>
                                    <div class="form-group col-md-1">
                                       <label for="inputCity">DDD CEL</label>
                                       {%edit_ddd2%}
                                    </div>
                                    <div class="form-group col-md-3">
                                       <label for="inputCity">Fone CEL</label>
                                       {%edit_fone2%}
                                    </div>
                                    <div class="form-group col-md-1">
                                       <label for="inputCity">DDD ZAP</label>
                                       {%edit_ddd3%}
                                    </div>
                                    <div class="form-group col-md-3">
                                       <label for="inputCity">Fone ZAP</label>
                                       {%edit_fone3%}
                                    </div>
                                 </div>
                                
                                 
                                
                              </form>
                            </div>
                            </div>
                        
                           <!-- Conteúdo --> 
                                            </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" id="BTN_GRAVAR_DADOS"   onclick="Gravar();">Gravar Dados</button>
         <button type="button" class="btn btn-default" data-dismiss="modal" id="BTNCANCELAR" onclick="SetaAcao('Menu', 'FormClientes');">Cancelar</button>                              
      </div>


   <script>

    function Gravar(){

            BTN_GRAVAR_DADOS.click;
        }
   </script>

   </body>
</html>