<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <br>
  <br>
  <br>




  <div class="row">

    <div class="col-md-12">
      <!-- Custom Tabs (Pulled to the right) -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
          <li class=""><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">Gráficos</a></li>
          <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="true">Rotatividade</a></li>
          <li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="false">Estoque</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
              Manutenção <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Curva ABC</a></li>              
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Inclusão Manual no Estoque</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
              Relatórios <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li id="BTN_L_ESTOQUE" role="presentation"><a role="menuitem" tabindex="-1" href="#">Listagem do Estoque</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Estoque por Curva</a></li>              
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sugestão de Compra</a></li>
            </ul>
          </li>
          <li class="pull-left header">
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li><a href="#">Estoque</a></li>
              <li class="active">Gerência de Estoque</li>
            </ol>

          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab_1-1">
            Em dev.
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane  " id="tab_2-2">

            <div class="box box-primary">
              <div class="box-header with-border">
                <i class="fa fa-fw   fa-pie-chart"></i>
                <h3 class="box-title">Ultima Venda</h3>
                <div class="box-tools pull-right">

                </div>
              </div>
              <div class="box-body">
                <div class="box box-default">

                  <div class="row">
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_1m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_2m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_3m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_4m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_5m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_6m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_7m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_8m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_9m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_10m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_11m%}

                          </div>

                        </div>
                        <div class="row">

                          <div class="col-xs-12">
                            {%rb_12m%}

                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <div class="table-responsive">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-xs-12">
                              <br />
                              <table id="TBRotatividade"
                                class="table table-hover table-striped table-bordered table-condensed"
                                style="width:100%">
                                <thead>
                                  <tr class="success">
                                    <th>Ação</th>
                                    <th>Promoção</th>
                                    <th>Bloq.</th>
                                    <th>Codigo Item</th>
                                    <th>Descrição</th>
                                    <th>Fornecedor</th>
                                    <th>Ultima Venda</th>
                                    <th>Preço de Venda</th>
                                    <th>Custo</th>
                                  </tr>
                                </thead>
                              </table>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane active" id="tab_3-2">
            <div class="box box-primary">
              <div class="box-header with-border">
                <i class="fa fa-fw   fa-pie-chart"></i>
                <h3 class="box-title">Estoque</h3>
                <div class="box-tools pull-right">

                </div>
              </div>
              <div class="box-body">
                <div class="box box-default">

                  <div class="table-responsive">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-xs-12">
                          <br />
                          <table id="TBEstoque" class="table table-hover table-striped table-bordered table-condensed"
                            style="width:100%">
                            <thead>
                              <tr class="success">
                                <th>Ação</th>
                                <th>Codigo Item</th>
                                <th>Descrição</th>
                                <th>Qtde.</th>
                                <th>Reserva</th>
                                <th>Preço de Venda</th>
                                <th>Fornecedor</th>
                                <th>Locação</th>
                                <th>Custo</th>

                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">

                      <a class="btn btn-app">
                        <i class="fa fa-gbp" id="TOTAL_ESTOQUE"></i> Totalizar Estoque
                      </a>

                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>

  <!--Sessão de Modais-->


  <!-- Modal Detalhe do Item -->
  <div class="modal fade" id="MDItemDetalhe" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-fw fa-barcode"></i> Detalhe do Item</h4>
        </div>

        <div class="modal-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Geral</a></li>
              <li><a href="#tab_2" data-toggle="tab">Histórico</a></li>
              <li><a href="#tab_3" data-toggle="tab">Demanda</a></li>


            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="box box-success">
                  <div class="box-header">
                    <h3 class="box-title">{%PRODUTO%} </h3>
                  </div>
                  <div class="box-body">

                    <div class="row">
                      <div class="col-xs-6">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th style="width: 10px">#</th>
                              <th>Task</th>
                              <th>Dados</th>

                            </tr>
                            <tr>
                              <td>1.</td>
                              <td>Última Compra</td>

                              <td>{%ULTIMACOMPRA%}</td>
                            </tr>
                            <tr>
                              <td>2.</td>
                              <td>Última Venda</td>

                              <td>{%ULTIMAVENDA%}</td>
                            </tr>
                            <tr>
                              <td>3.</td>
                              <td>Preço de Venda</td>

                              <td>{%PRECOVENDA%}</td>
                            </tr>
                            <tr>
                              <td>4.</td>
                              <td>Custo Contábil</td>

                              <td>{%CUSTOCONTABIL%}</td>
                            </tr>
                            <tr>
                              <td>5.</td>
                              <td>Fornecedor</td>

                              <td>{%FORNECEDOR%}</td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                      <div class="col-xs-6">

                        <div class="row">
                          <div class="col-xs-12">
                            {%EMPROMO%}

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            Valor Promoção: {%VALORPROMO%}

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            Percentual Promoção: {%PERCPROMO%}

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    {%BLOQUEARSU%} *Bloqueia o Item para sugestão de compra
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <!--Histórico-->
                <div class="table-responsive">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <br />
                        <table id="TBHistorico" class="table table-hover table-striped table-bordered table-condensed"
                          style="width:100%">
                          <thead>
                            <tr class="success">

                              <th>Operação</th>
                              <th>Documento</th>
                              <th>Qtde Operação</th>
                              <th>Qtde Depois</th>
                              <th>Custo Anterior</th>
                              <th>Custo Depois</th>
                              <th>Responsavel</th>
                              <th>Data</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Frequência dos últimos 12 meses</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <div class="table-responsive">
                    <table class="table table-condensed"> 

                    <tbody>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Operação</th>
                        <th>{%m1%}</th>
                        <th>{%m2%}</th>
                        <th>{%m3%}</th>
                        <th>{%m4%}</th>
                        <th>{%m5%}</th>
                        <th>{%m6%}</th>
                        <th>{%m7%}</th>
                        <th>{%m8%}</th>
                        <th>{%m9%}</th>
                        <th>{%m10%}</th>
                        <th>{%m11%}</th>
                        <th>{%m12%}</th>

                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Compras</td>
                        <td>{%qtdec1%}</td>
                        <td>{%qtdec2%}</td>
                        <td>{%qtdec3%}</td>
                        <td>{%qtdec4%}</td>
                        <td>{%qtdec5%}</td>
                        <td>{%qtdec6%}</td>
                        <td>{%qtdec7%}</td>
                        <td>{%qtdec8%}</td>
                        <td>{%qtdec9%}</td>
                        <td>{%qtdec10%}</td>
                        <td>{%qtdec11%}</td>
                        <td>{%qtdec12%}</td>


                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Vendas</td>
                        <td>{%qtdev1%}</td>
                        <td>{%qtdev2%}</td>
                        <td>{%qtdev3%}</td>
                        <td>{%qtdev4%}</td>
                        <td>{%qtdev5%}</td>
                        <td>{%qtdev6%}</td>
                        <td>{%qtdev7%}</td>
                        <td>{%qtdev8%}</td>
                        <td>{%qtdev9%}</td>
                        <td>{%qtdev10%}</td>
                        <td>{%qtdev11%}</td>
                        <td>{%qtdev12%}</td>


                      </tr>


                    </tbody>

                    </table>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="SetaAcao('SALVA');" data-dismiss="modal"
            id="BTNSALVAR"><i class="fa fa-save"></i> Salvar</button>
          <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"
            id="BTNCANCELAR"><i class="fa  fa-sign-out"></i> Sair</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM  Modal Detalhe do Item -->

  <!-- Modal Seleção de Relatório  -->
  <div class="modal fade" id="MDRelEstoque" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title"><i class="fa fa-fw fa-print"></i> Listagem do Estoque</h4>
          </div>
          <div class="modal-body">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">O que deseja exportar?</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                 {%combo_exp_estoque%}
                  
               
              </div>
              <!-- /.box-body -->
              <div class="box-footer clearfix">
            
              </div>
            </div> 


          </div>
          <div class="modal-footer">                 
             <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"
                id="BTN_EXP_ESTOQUE"><i class="fa fa-fw  fa-file"></i> Exportar</button>
                <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"
                    ><i class="fa fa-fw  fa-close (alias)"></i>Sair</button>
          </div>
       </div>
    </div>
 </div>
  <!--FIM Modal Seleção de Relatório  -->




  <!--Sessão de Scripts-->



  <script>
    $(document).ready(function () {
      $('#TBRotatividade').DataTable(
        {
          responsive: true,
          "pageLength": 10,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
          "paging": true,
          "ordering": true,
          "searching": true,
          serverSide: true,
          processing: true,
          ajax: "/$/callback?callback=TBRotatividade"
        });

    });

  </script>
  <script>
    $(document).ready(function () {
      $('#TBEstoque').DataTable(
        {
          responsive: true,
          "pageLength": 10,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
          "paging": true,
          "ordering": true,
          "searching": true,
          serverSide: true,
          processing: true,
          ajax: "/$/callback?callback=TBEstoque"
        });

    });

  </script>
  </script>
  <script>
    $(document).ready(function () {
      $('#TBHistorico').DataTable(
        {
          responsive: true,
          "pageLength": 10,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
          "paging": true,
          "ordering": true,
          "searching": true,
          serverSide: true,
          processing: true,
          ajax: "/$/callback?callback=TBHistorico"
        });

    });

  </script>


</body>

</html>