<html>
<head>
</head>
<body>
    <div class="clearfix" style="display:none">{%BTNGRAVAR%}</div>

    <section class="content-header">
        <h1>
            Configurações da Licença
            <small>Dados operacionais do Sistema.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Configurações da Licença</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-cogs"></i>
                    <h3 class="box-title">Configurações da Licença</h3>
                </div>
                <div class="box-body">
                        <h4 class="box-title">Dados do Proprietário do Sistema</h4>
                        <hr style="margin-top: 0px; margin-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-3 col-md-1">
                                <div class="form-group">
                                    <label for="usr">Código</label>
                                    {%IDLICENCA%}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-8">
                                <div class="form-group">
                                    <label>Razão Social</label>
                                    {%NOMELICENCA%}
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="form-group">
                                    <label for="usr">C.N.P.J.</label>
                                    {%CNPJ%}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-2">
                                <div class="form-group">
                                    <label for="CEP">CEP</label>
                                    {%CEP%}
                                </div>
                            </div>
                            <div class="col-xs-9 col-md-8">
                                <div class="form-group">
                                    <label for="Endereco">Endereço</label>
                                    {%Endereco%}
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div class="form-group">
                                    <label for="Endereco">Nº</label>
                                    {%Numero%}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group">
                                    <label for="Bairro">Bairro</label>
                                    {%Bairro%}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group">
                                    <label for="Cidade">Cidade</label>
                                    {%Cidade%}
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-1">
                                <div class="form-group">
                                    <label for="Estado">UF</label>
                                    {%Estado%}
                                </div>
                            </div>
                            <div class="col-xs-9 col-md-3">
                                <div class="form-group">
                                    <label for="Bairro">Telefones</label>
                                    {%Telefones%}
                                </div>
                            </div>
                        </div>
                        <br />
                        <h4 class="box-title">Dados para Envio de Email</h4>
                        <hr style="margin-top: 0px; margin-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label for="Email">Email de Origem</label>
                                    {%EmailOrigem%}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label for="Telefone">Nome de Origem</label>
                                    {%NomeOrigem%}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-sm-8">
                                <div class="form-group">
                                    <label for="usr">Nome do Usuário para Autenticação</label>
                                    {%Usuario%}
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <div class="form-group">
                                    <label for="usr">Senha do Email para Autenticação</label>
                                    {%Senha%}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label for="usr">Nome Servidor SMTP</label>
                                    {%SMTP%}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label for="usr">Porta Servidor SMTP</label>
                                    {%Porta%}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <div class="form-group">
                                    <label for="usr">Autenticação TLS</label>
                                    {%TLS%}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <div class="form-group">
                                    <label for="usr">Autenticação SSL</label>
                                    {%SSL%}
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-12" align="center">
                                <button type="button" class="btn btn-success" onclick="Gravar();">Gravar Dados</button>
                                <button type="button" class="btn btn-danger"  data-dismiss="modal" id="BTNCANCELAR">Cancelar</button>	
                            </div>
                        </div>
                        <br />
                </div>
            </div>
        </div>
    </section>
    
<script>
    //
    //  FUNCAO DE VALIDACAO DE CAMPOS ANTES DE GRAVAR
    //
    function Gravar(){
        debugger;
        
        // Valida Campo NOMELICENCA        
        var str = document.getElementById('NOMELICENCA').value;
        var n = str.length;
        if (n < 5){
            swal('Atenção!!!', 'Nome da Licença não possui tamanho mínimo de 5 caracteres !', 'warning');
            document.getElementById('NOMELICENCA').focus();
        }
        else BTNGRAVAR.click();
    }
    
    //
    // FUNCAO DE BUSCA DE CEP
    //
    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('ENDERECO').value=("");
            document.getElementById('BAIRRO').value=("");
            document.getElementById('CIDADE').value=("");
            document.getElementById('ESTADO').value=("");
            //document.getElementById('IBGE').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('ENDERECO').value=(conteudo.logradouro);
            document.getElementById('BAIRRO').value=(conteudo.bairro);
            document.getElementById('CIDADE').value=(conteudo.localidade);
            document.getElementById('ESTADO').value=(conteudo.uf);
            //document.getElementById('IBGE').value=(conteudo.ibge);

            // colocar essas linhas sempre que usar o onAsyncClick para colocar o campo como alterado
            AddChangedControl('ENDERECO');
            AddChangedControl('BAIRRO');
            AddChangedControl('CIDADE');
            AddChangedControl('ESTADO');
            //AddChangedControl('IBGE');

            NUMERO.focus();
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {
        debugger;
        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('ENDERECO').value="...";
                document.getElementById('BAIRRO').value="...";
                document.getElementById('CIDADE').value="...";
                document.getElementById('ESTADO').value="...";
                //document.getElementById('IBGE').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };
</script>

</body>
</html>

