<html>

<head>
</head>

<body>
    <div class="clearfix" style="display:none">{%BTNAPROVARGER%}{%lb_id%} </div>

    <section class="content-header">
        <h1>
            Controle de F&I
            <small>Listagem e Manutenção.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Controle de F&I</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fonticons  fa-building-o"></i>
                    <h3 class="box-title"><b>Mesa do F&I</b></h3>
                    <br />
                    <div class="box-tools pull-right">

                    </div>
                </div>
                <div class="box-body">
                    <div class="box-tools pull-right">

                    </div>
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">



                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse1">Filtros</a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">

                                            <div class="panel-footer">

                                                <table class="table table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <th>Servidor</th>
                                                            <th>Data Criação</th>
                                                            <th>Status Fila</th>
                                                        </tr>

                                                        <tr>
                                                            <td bgcolor="#64FE2E">{%combo_database%}</td>
                                                            <td>{%ck_data_ini%}{%data_ini%} à {%ck_data_fim%}{%data_fim%}</td>
                                                            <td>{%combo_ficha_status%}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table class="table table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <th>Empresa</th>
                                                            <th>Vendedor</th>
                                                            <th>Origem</th>
                                                        </tr>

                                                        <tr>
                                                            <td>{%combo_empresas%}</td>
                                                            <td>{%combo_vendedor%}</td>
                                                            <td>{%combo_origens%}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <th>Status Ficha</th>
                                                            <th>Operador</th>
                                                            <th>Tipo</th>
                                                        </tr>

                                                        <tr>
                                                            <td>{%combo_status_finan%}</td>
                                                            <td>{%combo_operador%}</td>
                                                            <td>{%combo_tipo%}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>


                                        <br />

                                        <div class="table-responsive">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <br />
                                                        <table id="ControleF" class="table table-hover"
                                                            style="width:100%">
                                                            <thead>
                                                                <tr>

                                                                    <th>Id</th>
                                                                    <th>Ação</th>
                                                                    <th>Cliente </th>
                                                                    <th>Dt. Inclusão</th>
                                                                    <th>Dt. Apr. Ger.</th>
                                                                    <th>Dt. Apr. Aces.</th>
                                                                    <th>Dt. Apr. F&I.</th>
                                                                    <th>Status</th>
                                                                    <th>Banco</th>
                                                                    <th>Operador</th>
                                                                    <th>Vendedor</th>
                                                                    <th>Origem</th>
                                                                    <th>Empresa</th>
                                                                    <th>Servidor</th>

                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="MHistorico" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-fw fa-history"></i> Histórico de Financiamento</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="box box-default">
                            <div class="row">
                                <div class="col-md-12">
                                    <br />

                                    <div class="table-responsive">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <br />
                                                    <table id="Historico" class="table table-hover" style="width:100%">
                                                        <thead>
                                                            <tr>

                                                                <th>Data</th>
                                                                <th>Banco </th>
                                                                <th>Status</th>
                                                                <th>Analista c.</th>
                                                                <th>Motivo Recusa</th>
                                                                <th>Valor do Veículo</th>
                                                                <th>Entrada</th>
                                                                <th>Financiamento</th>
                                                                <th>Prazo</th>
                                                                <th>Parcela</th>
                                                                <th>Tabela</th>
                                                                <th>Coeficiente</th>
                                                                <th>Ação</th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <div class="modal-footer">
                    {%btn_salvar%}
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        id="BTNCANCELAR">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Motivos Recusa -->

    <script>




        $(document).ready(function () {
            $('#ControleF').DataTable(
                {
                    responsive: true,
                    "pageLength": 10,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=ControleF"
                });

        });

       /*  $(document).ready(function () {
            $('#Historico').DataTable(
                {
                    responsive: true,
                    "pageLength": 10,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=Historico"
                });

        }); */


    </script>







</body>

</html>