<html>

<head>
</head>

<body>
    <div class="clearfix" style="display:none">{%BTN_SALVAR_DB%}{%LISTA_GUARDAR%}</div>

    <section class="content-header">
        <h1>
            <small>Listagem e Manutenção.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Database - Listagem e Manutenção</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">

                    <i class="fa fa-fw  fa-database"></i>
                    <h3 class="box-title">Databases - Listagem e Manutenção</h3>
                   
                    <div class="box-tools pull-right">

                        <div class="btn-group">

                            <button type="buttom" class="btn btn-primary" onclick="SetaAcao('Inclu');">
                                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs hidden-sm">
                                    Incluir</span>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="box-body">
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">
                                <br />

                                <div class="table-responsive">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <br />
                                                <table id="Databases" class="table table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Usuário </th>
                                                            <th>Descricao</th>
                                                            <th>Database</th>
                                                            <th>Ação</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="Acesso" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-fw  fa-database"></i> Database - Manutenção</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="box box-default">
                            <div class="row">
                                <div class="col-md-12">
                                    <br />

                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Usuário</th>
                                                <th>Senha</th>
                                                <th>Servidor</th>
                                                <th>Descrição</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{%edit_usuario%}</td>
                                                <td>{%edit_senha%}</td>
                                                <td>{%edit_servidor%}</td>
                                                <td>{%edit_descricao%}</td>
                                            </tr>


                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="SalvarDB();"  id="SALVARDB">Salvar</button>
                    <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"
                        id="BTNCANCELAR">Sair</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Acessos -->

    <script>




        $(document).ready(function () {
            $('#Databases').DataTable(
                {
                    responsive: true,
                    "pageLength": 10,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=Databases"
                });

        });


    </script>



    <script>

        function Excluir(p_id, p_valor) {


            document.getElementById('IWACAO').value = p_id;
            AddChangedControl('IWACAO');   // colocar essa linha sempre que usar o onAsyncClick pois colocar o campo como alterado
            BTN_DELETAR.click();

        }

       

    </script>

    <script>

        function SalvarDB(){

            BTN_SALVAR_DB.click();

        }

    </script>



</body>

</html>