<!DOCTYPE html>
<html>

<head>




</head>

<body>
    <br>
    <br>
    <br>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Contagem de Estoque</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="table-responsive">
                <div class="container-fluid">
                    <div class="rowl">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary"  id="BTN_INC_CONTAGEM" ><i
                                class="fa fa-plus"></i> Nova Contagem</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <br />
                            <table id="TBContagem"
                                class="table table-hover table-striped table-bordered table-condensed"
                                style="width:100%">
                                <thead>
                                    <tr class="success">
                                        <th>Id</th>
                                        <th>Ação</th>
                                        <th>Descrição</th>
                                        <th>Tipo</th>
                                        <th>Status</th>
                                        <th>Abertura</th>
                                        <th>Fechamento</th>
                                        <th>Contagem</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">

        </div>
    </div>

     <!-- Modal Inclusão de contagem  -->
 <div class="modal fade" id="MDClientes" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title"><i class="fa fa-fw fa-edit"></i>Incliindo Contagem...</h4>
          </div>
          <div class="modal-body">
              aaa
              
          </div>
          <div class="modal-footer">                 
             <button type="button" class="btn btn-default" onclick="SetaAcao('CancM');" data-dismiss="modal"
                id="BTNCANCELAR">Sair</button>
          </div>
       </div>
    </div>
 </div>
 <!--FIM  Modal  Inclusao de contagem -->



    <script>
        $(document).ready(function () {
            $('#TBContagem').DataTable(
                {
                    responsive: true,
                    "pageLength": 5,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    },
                    "paging": true,
                    "ordering": true,
                    "searching": true,
                    serverSide: true,
                    processing: true,
                    ajax: "/$/callback?callback=TBContagem"
                });

        });


    </script>

</body>

</html>