<html>
<head>
</head>
<body>
    <div class="clearfix" style="display:none">{%btn_deletar%}</div>

    <section class="content-header">
        <h1>
            Usuários x Empresas
            <small>Listagem e Manutenção.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Listagem de Usuários</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-users"></i>
                    <h3 class="box-title">Usuários x Empresas</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                             
                            <button type="buttom" class="btn btn-primary" onclick="SetaAcao('Inclu');">
                                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Incluir/Alterar</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                Filtrar por Tipo:{%combo_tipo%}
                                <div class="table-responsive">
                                    <div class="container-fluid">
                                       <div class="row">
                                          <div class="col-xs-12">
                                            <br />  
                                             <table id="UsuariosEmp" class="table table-hover" style="width:100%">
                                                <thead>
                                                   <tr>
                                                      <th>Id</th>
                                                      <th>Usuário </th>
                                                      <th>Empresa</th>  
                                                       <th>Tipo</th>  
                                                       <th>Id Empresa</th> 
                                                       <th>Ação</th> 
                                                   </tr>
                                                </thead>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Modal -->
    <div class="modal fade" id="Cruzamento" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-fw fa-users"></i> Usuários x Empresas - Inclusão</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                           
                                
                                <div class="table-responsive">
                                          <table class="table">
                                            <thead>
                                              
                                                <th scope="col">Usuário</th>
                                                <th scope="col">Lista de Empresas</th>
                                                <th scope="col">Adicionar/Remover</th>
                                                <th scope="col">Empresas Selecionadas</th>
                                                <th scope="col">Tipo</th>                                                 
                                             
                                            </thead>
                                            <tbody
                                               <tr>                                                
                                                <td>{%combo_usuarios%}</td>
                                                <td>{%listempresas%}</td>
                                                <td>{%btn_add_emp%}{%btn_rem_emp%}</td>
                                                <td> {%list_sel_empresas%}</td>
                                                <td>{%ck_novo%}{%ck_usado%}</td>                                                
                                              </tr>
                                             </tbody>
                                          </table>
                                        </div>

                                
                                    
                                       
                                
                            </div>
                        </div>
                        </div>
                    </div>
                    
                   
                 
                    
                   
                    
                </div>
                <script>
                    $('#Cadastro').on('shown.bs.modal', function () {
                        debbuger;
                        $('#RAZAOSOCIAL').focus();
                    });
                </script>
                <div class="modal-footer">
                    {%btn_salvar%}
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="BTNCANCELAR">Cancelar</button>	
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Relatorios -->
   
 <script>
     
      $(document).ready(function() {
           $('#UsuariosEmp').DataTable(
               {
                   responsive: true,
                   "pageLength": 10,
                   "language": {
                       "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                   },
                   "paging":   true,
                   "ordering": true,
                   "searching": true,
                   serverSide: true,
                   processing: true,
                   ajax: "/$/callback?callback=UsuariosEmp"
               });          
          
        } );
    
    
</script>
<script>

function Excluir(p_id,p_valor){
    
                 
                document.getElementById('IWACAO').value =  p_id;
                AddChangedControl('IWACAO');   // colocar essa linha sempre que usar o onAsyncClick pois colocar o campo como alterado
                BTN_DELETAR.click();
    
}

</script>



</body>
</html>

