<html>
<head>
</head>
<body>
    <div class="clearfix" style="display:none">{%BTNGRAVARATENDIMENTO%}{%BTNENCERRAR%}{%BTNREABRIR%}</div>

    <section class="content-header">
        <h1>
            Acompanhamento dos Chamados Técnicos
            <small>Listagem e Manutenção.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript: SetaAcao('Menu', 'Iniciar');"><i class="fa fa-home"></i> Início</a></li>
            <li class="active">Listagem de Chamados</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-xs-12">
            {%Chamados%}
        </div>
    </section>
    
    <!-- Modal Atendimento -->
    <div class="modal fade" id="Atendimento" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-fw fa-commenting-o"></i> Apontamento do Chamado</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                {%DadosChamado%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                <label for="usr">Dados do Problema:</label>
                                {%DescricaoSolicitacao%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                <label for="usr">Informe a Solução:</label>
                                {%SolucaoSolicitacao%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                {%Encerrar%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="GravarAtendimento();" data-dismiss="modal">Gravar Solução</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal" id="BTNCANCELAR">Cancelar</button>	
                </div>
            </div>
        </div>
    </div>
    
    <script>
        //
        //  FUNCAO DE VALIDACAO DE CAMPOS ANTES DE GRAVAR
        //
        function GravarAtendimento(){
            debugger;
            var str = document.getElementById('SOLUCAOSOLICITACAO').value;
            var n = str.length;
            if (n < 5){
                swal('Atenção!!!', 'Solução não possui tamanho mínimo de 5 caracteres !', 'warning');
                document.getElementById('SOLUCAOSOLICITACAO').focus();
            }
            else BTNGRAVARATENDIMENTO.click();
        }
    </script>
</body>
</html>